@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

:root {
    --texto-grande: #5F59EC;
    --fonte: black;
    --descricoes: #707070;
    --botoes: #635EF2;
}

body::-webkit-scrollbar{
    width: 15px;
}

body::-webkit-scrollbar-track{

    background-color: rgb(0, 0, 134);

}

body::-webkit-scrollbar-thumb {
    background-color: var(--botoes);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Mulish', sans-serif;
}


/* CONFIGURAÇÕES HEADER */

.header {
    padding: 0px 0px 20px 60px;
    background-color: white;
    width: 100%;
    height: 60px;
}

.header img {
    float: right;

    position: absolute;

    margin-left: 750px;
    margin-top: 200px;

    width: 300px;
}

.header .logo {
    float: left;
    color: var(--texto-grande);

    padding: 40px 0px 0px 80px;
}

.navegacao ul li{

    float: right;
    display: inline;

    margin-right: 40px;
    color: var(--descricoes);

    padding-top: 40px;
    
}

.navegacao ul li:hover {
    color: var(--fonte);

    transition: 0.5s;
}

.gradiente {
    background: linear-gradient(#6171FC, #6792FB, #6EB4FC, #899CF8, #A97DF6);

    height: 699px;
    width: 300px;

    float: right;
    margin: 0;

    text-align: center;

    margin-left: 100px;
}

#btn-sing-up {
    background-color: white;
    color: var(--botoes);
    border-radius: 10px;
    border: none;

    height: 50px;
    width: 120px;
    margin: 30px;

}


/* CONFIGURAÇÕES MAIN */


.main .landing-img {
    float: right;
    border-radius: 200%;
    width: 350px;
    height: 325px;

    position: absolute;

    margin-left: 1000px;
}



.main .landing .texto h2 {
    
    font-size: 60px;
    width: 580px;
    height: 250px;

    margin: 100px 100px 20px 140px;
}

.main .landing .texto p {
    color: var(--descricoes);
    width: 550px;
    margin: 0px 100px 20px 140px;

}


.pesquisa {

    margin: 100px 100px 20px 140px;
}

.pesquisa .form-pesquisa {
    background-color: var(--botoes);
    width: fit-content;

    padding: 5px;
    padding-left: 20px;
    border-radius: 50px;

    
}

.pesquisa .form-pesquisa .icon{
    width: 20px;

    color: white;
}

.pesquisa .form-pesquisa .input {
    border: none;
    height: 20px;
    background-color: transparent;

    color: white;


}

.pesquisa .form-pesquisa .input:focus {
    outline: 0;
    box-shadow: 0;

}

.pesquisa .form-pesquisa .input::-webkit-input-placeholder{
    
    color: white;
}

.pesquisa .form-pesquisa .submit {
    background-color: white;
    color: var(--botoes);

    border: none;
    border-radius: 40px;

    height: 50px;
    width: 100px;
    
    font-weight: bolder;
}


/*AREA DO ABOUT US*/

.about-us .marcas{

    display: flex;

    flex-direction: row;
    justify-content: space-around;

    margin-bottom: 100px;
}

.about-us .texto-sobre {
    margin: 0px;
    display: flex;

    flex-direction: column;
    align-items: center;
}

.about-us .texto-sobre p {
    color: var(--texto-grande);
    font-weight: bold;
    margin: 10px;
}

.about-us .texto-sobre h1 {
    font-size: 35px;
    font-weight: bolder;

    width: fit-content;
}

.fundo {
    display: inline-block;

    width: fit-content;
    text-align: center;

    margin: 90px;
}
.fundo .circulo {
    background-color: var(--botoes);

    width: 100px;
    height: 100px;
    border-radius: 50%;

    margin-left: 100px;

    margin-bottom: 30px;


}

.fundo p {
    width: 300px;
    margin-top: 20px;
    color: var(--descricoes);
}


/*AREA DE SERVICOS*/
.servicos .texto-servicos{

   display: flex;
   flex-direction: column;

   align-items: center;
}

.servicos .texto-servicos #titulo {
    color: var(--texto-grande);
    font-weight: bold;
    margin: 10px;
}

.servicos .texto-servicos h1 {
    font-size: 35px;
    font-weight: bolder;

    width: fit-content;
}

.servicos .texto-servicos #descricao {
    color: var(--descricoes);

    width: fit-content;
}


.passo1, .passo2, .passo3 {

    width: fit-content;

    display: inline-block;

    text-align: center;

    margin: 90px;
}

.passo1 p, .passo3 p {

    width: 280px;
    margin-top: 20px;
    color: var(--descricoes);

}
.passo2 p {
    width: 280px;
    margin-top: 20px;
    color: white;
}

.passo1 .representacao {

    background-color: rgba(255, 192, 203, 0.385);

}

.passo2 {
    background-color: var(--botoes);
    border-radius: 20px;
    padding: 20px;

    color: white;
    
    box-shadow: rgb(133, 133, 255) 5px 5px 10px 2px;
}
.passo2 .representacao {
    background-color: white;
}

.passo3 .representacao {
    background-color: rgba(245, 222, 179, 0.338);
}

.representacao {

    background-color: var(--botoes);

    width: 100px;
    height: 100px;
    border-radius: 50%;

    margin-left: 100px;

    margin-bottom: 30px;
}




/*TRENDING*/

.trending .texto-trending{

    display: flex;
    flex-direction: column;

    align-items: center;
}

.trending .texto-trending .titulo{
    color: var(--texto-grande);
}
.trending .texto-trending h1 {
    font-size: 35px;
    width: fit-content;

}

.trending .texto-trending p {
    color: var(--descricoes);

}

.trabalho1{
    background-color: var(--botoes);
    color: white;
    width: fit-content;
    height: 220px;
    text-align: center;


    padding: 10px;
    margin: 80px;
    border-radius: 20px;

    width: 220px;

    display: inline-block;
}

.trabalho1 p, .trabalho p {
    margin-top: 15px;
}

.trabalho1 .representacao, .trabalho .representacao {
    width: 0px;
    height: 100px;
    background-color: rgb(246, 238, 221);

    padding-right: 100px;

    margin-left: 50px;
}

.trabalho {

    width: fit-content;
    height: 220px;
    text-align: center;

    padding: 10px;
    margin: 60px;
    border-radius: 20px;

    width: 220px;

    display: inline-block;

}

.trabalho p {
    color: var(--descricoes);
}

#trabalho2 .representacao {
    background-color: rgba(255, 255, 168, 0.328);
}

#trabalho3 .representacao {
    background-color: rgba(194, 255, 194, 0.183);
}

#trabalho4 .representacao {
    
    background-color: rgba(172, 255, 172, 0.275);
    
}
#trabalho5{

    margin-left: 100px;
}

#trabalho5 .representacao {
    
    background-color: rgba(133, 133, 133, 0.171);
}

#trabalho6 .representacao {
    background-color: rgba(179, 233, 240, 0.171);
}

#trabalho7 .representacao {
    background-color: rgba(244, 201, 241, 0.171);
}

#trabalho8 .representacao {
    background-color: rgba(244, 222, 201, 0.171);
}






/*TUTORIAL*/

.tutorial {
    height: 750px;
}

.tutorial .texto-tutorial {

    display: flex;
    flex-direction: column;

    align-items: center;
}

.tutorial .texto-tutorial .titulo {
    color: var(--texto-grande);
}
.tutorial .texto-tutorial h1 {
    font-size: 35px;

    font-weight: bolder;

    width: fit-content;
}

.video {
    border-radius: 20px;
    margin: 170px 50px 100px 200px;
}

.passo-a-passo {
    margin: 100px 200px 100px 100px;
    float: right;

    width: 350px;

}

.passo-a-passo .passo {
    font-weight: bolder;

    margin: 30px 0px 0px 0px;



    color: var(--texto-grande);
}
.passo-a-passo h2{
    margin: 10px 0px 30px 0px;

    font-size: 20px;
}



/*TESTEMUNHOS*/


.testemunhos .depoimento1 {
    width: fit-content;
    margin: 0px 0px 0px 180px;

    width: 400px;
    display: inline-block;

    height: fit-content;

}

.testemunhos .depoimento1 .titulo {


    color: var(--texto-grande);
    font-weight: bold;
}

.testemunhos .depoimento1 h1 {

    width: 350px;
    font-size: 35px;
    padding: 0px 20px 15px 20px;

}

.testemunhos .texto-testemunho p {
    background-color: pink;
    width: 350px;
    text-align: justify;
    padding: 0px 20px;

}
.testemunhos .depoimento1 p {
    
    margin-left: 20px;
    margin-right: 60px;

}

.texto-testemunho {
    visibility: hidden;
}



.testemunhos .depoimento {

    box-shadow: 2px 2px 5px 2px rgba(128, 128, 128, 0.097);
    padding: 20px;
    width: 300px;
    border-radius: 10px;

    display: inline-block;

    margin: 50px;
    height: 180px;

}

.depoimento p {
    color: var(--descricoes);
}

.depoimento .img {
    width: 40px;
    height: 40px;

    background-color: var(--botoes);
    border-radius: 50%;
    margin-top: 30px;
}


.txt {
    margin-left: 50px;
    width: 200px;
}
.txt p {
    color: var(--descricoes);
}

#depoimento2 {

    border: solid rgba(128, 128, 128, 0.156) 1px;

}


/*SUBSCRIBE*/


.container {
    margin: 100px;

    height: 350px;
    border-radius: 30px;
    background-color: var(--botoes);

    text-align: center;
    display: flex;
    flex-direction: column;

    align-items: center;
    color: white;
}

.texto-subscribe {
    margin: 50px;
}

.texto-subscribe h1 {
    font-size: 35px;
    margin-top: 20px;
}

.form {
    background-color: white;
    border: none;

    border-radius: 10px;
    padding: 3px;
}
.form #email{
    background-color: white;
    border: none;

    height: 30px;

    width: 300px;

    border-radius: 10px;

    padding-left: 20px;
}

.form #email::-webkit-input-placeholder {
    color: var(--descricoes);
    font-weight: bold;
}

.form #botao {
    background-color: var(--botoes);
    border: none;
    padding: 15px;
    border-radius: 10px;
    width: 90px;
    color: white;
    font-weight: bold;
}


/*CANDIDADTOS*/

.candidatos .texto-candidatos {
    display: flex;
    flex-direction: column;

    align-items: center;

    text-align: center;
}

.candidatos .texto-candidatos #titulo {
    color: var(--texto-grande);
    font-weight: bold;
}
.candidatos .texto-candidatos h1 {
    font-size: 35px;
    margin: 20px;
}
.candidatos .texto-candidatos p {
    color: var(--descricoes);
}


.candidato {
    margin-top: 60px;
    padding-left: 75px;
    text-align: center;

    width: fit-content;

    display: inline-block;
    
}
.candidato p {
    color: var(--descricoes);
}
.candidato .img{
    background-color: rgba(128, 128, 128, 0.167);
    width: 220px;
    height: 220px;

    border-radius: 20px;
    margin: 20px;
}

#img2 {
    background-color: rgb(255, 182, 45);
}
#img3 {
    background-color: rgba(75, 98, 124, 0.364);
}
#img4 {
    background-color: rgb(75, 195, 255);
}


/*DADOS*/

.dados .container-dados {
    background-color: rgba(0, 128, 0, 0.063);

    padding: 30px 0px 30px 100px;

    margin: 150px 0px 150px 0px;

}

.dado {
    margin-top: 20px;
    margin-right: 170px;
    width: fit-content;
    

    display: inline-block;

    text-align: center;

    padding: 30px;

    
}

.dado p {
    color: var(--descricoes);
}
.dado h1 {
    font-size: 33px;
}

.dado .img {
    background-color: rgba(255, 0, 0, 0.527);
    width: 50px;
    height: 50px;
    border-radius: 50%;

    margin-left: 30px;

    margin-bottom: 20px;


}

#dado2 {
    background-color: rgba(0, 179, 255, 0.729);
}
#dado3{
    background-color: rgba(0, 128, 0, 0.601);
}
#dado4 {
    background-color: rgba(255, 166, 0, 0.745);
}
#d4 .img{
    margin-left: 40px;
}
#d4 {
    margin-right: 0px;
}



/*PERGUNTAS FREQUENTES*/

.container-perguntas {

    display: flex;
    flex-direction: column;

    float: right;

    margin-right: 100px;
}

.perguntas img {
    margin: 100px 0px 400px 200px;

    width: 350px;
}

.texto-perguntas {

    width: 300px;
}

.texto-perguntas .titulo{
    color: var(--texto-grande);

    font-weight: bold;
}
.texto-perguntas h1 {
    font-size: 35px;
}

.pergunta {
    width: 600px;

    border-bottom: solid rgba(128, 128, 128, 0.098) 1px;
    padding: 40px 40px 40px 0px;
}

.pergunta p {
    color: var(--descricao);
}
#ultima-pergunta {
    border: none;
}

/*FOOTER*/

.footer .container-footer {
    background-color: rgb(26, 26, 61);

    color: rgba(218, 218, 218, 0.646);

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding-top: 100px;
    padding-bottom: 100px;
}
.container-footer .logo h1 {

    margin-bottom: 30px;

    color: white;

}

.container-footer .logo, .categorias, .comunidade, .sobre,
.contato {
    width: fit-content;

    display: inline-block;
    

}

.svg-icon {
    width: 35px;
    background-color: rgba(55, 52, 52, 0.563);
    border-radius: 50%;
    
    margin-right: 10px;
    padding: 5px;
}

.container-footer h4 {
    margin: 0px 0px 40px 10px;
    color: white;
}

.container-footer .categorias ul li, .comunidade ul li,
.sobre ul li, .contato ul li {

    margin: 10px;

    list-style-type: none;
}